        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: .4em;
        }
        div.container {
            width: 100%;
            border: 1px solid gray;
        }

        header, footer {
            padding: .5em;
            color: white;
            background-color: black;
            clear: left;
            text-align: center;
        }
        nav {
            float: left;
            max-width: 160px;
            margin: 0;
            padding: .401em;
        }
        article {
            margin-left: 170px;
            border-left: 1px solid gray;
            padding: 1em;
            overflow: hidden;
        }
        body {
            background-color:lavender;
        }
        h1{
            text-align: center;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
        }
        h2{
            font-family:'Californian FB';
        }
        h3{
            text-align:center;
            font-size: 175%;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        p{
            font-family:'Lucida Bright';
            font-size:medium;
        }
        td{
            font-family:Calibri;
            font-weight:400;
        }
        th{
            font-size: 125%;
        }
        /* unvisited link */
        a:link {
            color: white;
            text-decoration: none;
        }

        /* visited link */
        a:visited {
            color: lightcyan;
            text-decoration: none;
        }

        /* mouse over link */
        a:hover {
            color: forestgreen;
            text-decoration: underline;
        }

        /* selected link */
        a:active {
            color: blue;
            text-decoration: none;
        }
        tr:hover{background-color:white;}