
        ul {
            list-style-type: none;
            margin: 0;
            padding: 10px;
            overflow: hidden;
            background-color: gray;
        }

        li {
            float: left;
        }

        li a {
            display: inline-block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            width:450px; 
        }

        li a:hover:not(.active) {
            background-color: white;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: .3em;

        }
        div.container {
            width: 100%;
        }

        header{
            padding: 0em;
            color: white;
            background-color: gray;
            clear: left;
            text-align: center;
            width:inherit;
            position:relative;
            z-index:100;
            
        }
        footer {
            padding: .5em;
            color: white;
            background-color: gray;
            clear: left;
            text-align: center;
            width: inherit;
        }
        nav {
            float: left;
            max-width: 160px;
            margin: 0;
            padding: .401em;
            background-color:lavender;
        }
        article {
            margin-left: 170px;
            border-left: 1px solid gray;
            padding: 1em;
            overflow: hidden;
            position:inherit;
            z-index:100;

        }
        body {
          background:url(bg.jpg);
        }
        h1{
            text-align: center;
                text-shadow: 1px 1px 2px white, 0 0 25px maroon, 0 0 5px darkblue;

            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
        }
        h2{
            font-family:'Californian FB';
                text-shadow: 10px 10px 10px gray;

        }
        h3{
            text-align:center;
            font-size: 175%;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        p{
            font-family:'Lucida Bright';
            font-size:medium;
        }
        td{
            font-family:Calibri;
            font-weight:400;
        }
        th{
            font-size: 125%;
        }
        /* unvisited link */
        a:link {
            color: black;
            text-decoration: none;
        }

        /* visited link */
        a:visited {
            color: black;
            text-decoration: none;
        }

        /* mouse over link */
        a:hover {
            color: forestgreen;
            text-decoration: underline;
        }

        /* selected link */
        a:active {
            color: blue;
            text-decoration: none;
            background-color:darkseagreen;
        }
        tr:hover{background-color:white;}

       
        
  .dropbtn {
    background-color: gray;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    padding: 14px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 420px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
   position: inherit;
    background-color: white;
    min-width: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-align:center;
}

.dropdown-content a:hover {
    color: forestgreen;
     text-decoration: underline;

}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: white;
}
